@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/mauve.css';

/* reset */
.FormRoot input,
.FormRoot textarea,
.FormRoot button {
  all: unset;
  box-sizing: border-box;
}

.FormRoot {
  max-width: 36.25rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.425rem;
}

.FormRoot .Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border-radius: 4px;
  padding: 1.425rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .15rem;
  font-size: .725rem;
  height: 35px;
  width: 100%;
  background-color: var(--green);
  color: #fff;
  cursor: pointer;
  margin-top: 1.4rem;
}
.FormRoot .Button:hover {
  background-color: var(--light-green);
}
.FormRoot .Button:focus {
  box-shadow: 0 0 0 2px var(--dark-green);
}

.FormRoot .loader-icon {
  animation: spinning 0.5s linear infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}