.input {
    width: 100%;
    padding: .575rem .675rem;
    outline: none;
    border: none;
    border-radius: .125rem;
}

.header .search-field .search.input {
    max-width: 40rem;
    padding-right: 3rem;
}