.filter {
    width: 100%;
    max-width: 12.225rem;
    /* color: var(--dark-orange); */
    color: var(--black);
    /* background-color: #ccc; */

    @media screen and (max-width: 425px) {
        max-width: unset;
    }

    .filter-title {
        font-size: 1.425rem;
    }

    .filter-list {
        display: flex;
        flex-direction: column;
        gap: .525rem;
        padding-top: 1rem;

        @media screen and (max-width: 425px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .filter-item {
        font-size: .825rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .05rem;
        padding: .625rem;
        border-radius: .225rem;
        border-bottom-right-radius: 2rem;
        cursor: pointer;
        background-color: #dbdbdb;
        opacity: .625;

        @media screen and (max-width: 425px) {
            flex: 1 0 10rem;
            font-size: .925rem;
        }
    }

    .filter-item.active {
        border-right: .625rem solid var(--light-blue);
        opacity: 1;
    }

    .filter-item:hover {
        color: var(--white);
        background-color: var(--light-blue);
        opacity: 1;
    }
}

