.swiper-wrapper .card,
.card-list .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .825rem;
    gap: 0;
    border: 1px solid #e2e2e2;
    border-radius: .325rem;
    /* max-width: 220px; */
    position: relative;
}

.card-list .card {
    flex: 1 0 130px;
    flex-grow: 0;
}

/* .swiper-wrapper .card:hover,
.card-list .card:hover {
    box-shadow: 0 0 1rem black;
} */

.swiper-wrapper .card.highlight,
.card-list .card.highlight {
    overflow: hidden;
}

.swiper-wrapper .card.highlight::before,
.card-list .card.highlight::before {
    content: "";
    position: absolute;
    top: .32rem;
    right: .32rem;
    width: 18px;
    height: 18px;
    background-image: url("../../assets/star-2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.swiper-wrapper .card.highlight::after,
.card-list .card.highlight::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 247, 192);
    right: -3.7rem;
    top: -3.7rem;
    transform: rotate(45deg);
}

.swiper-wrapper .card {
    max-width: none;
    height: 100%;
}

.swiper-wrapper .card .card-img,
.card-list .card .card-img {
    width: 100%;
    height: 100%;
    /* height: 70%; */
    max-height: 190px;
    max-width: 220px;

    @media screen and (max-width: 900px) {
        max-height: 160px;

        @media screen and (max-width: 500px) {
            max-height: 110px;
        }
    }
}

.swiper-wrapper .card .card-info,
.card-list .card .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.425rem;
}

.swiper-wrapper .card .card-name,
.card-list .card .card-name {
    font-weight: bold;
}

.swiper-wrapper .card .info-btn,
.card-list .card .info-btn {
    /* width: 100%; */
    cursor: pointer;
    flex: 1;

    @media screen and (max-width: 900px) {
        flex: none;
    }
}

.swiper-wrapper .card .add-btn,
.card-list .card .add-btn {
    /* width: 100%; */
    cursor: pointer;
    flex: 1;

    @media screen and (max-width: 900px) {
        flex: 1;
    }
}

.swiper-wrapper .card .info-btn span,
.card-list .card .info-btn span {
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.swiper-wrapper .card .add-btn span,
.card-list .card .add-btn span {
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.swiper-wrapper .card .flex-container,
.card-list .card .flex-container {
    width: 100%;
}