.main .page-header {
    padding: 2rem 12rem;
    border-bottom: 1px solid #e8e8e8;
    background: linear-gradient(to right, hsla(213, 100%, 12%, 0.100), hsla(213, 100%, 12%, 0.0100), rgba(255, 128, 0, 0.075) );
    /* background: hsla(213, 100%, 12%, 0.050); */
    color: var(--light-blue);

    @media screen and (max-width: 1024px) {
        padding: 2rem 6rem;

        @media screen and (max-width: 792px) {
            padding: 2rem 2rem;
        }
    }
}

.main .page-header .title {
    font-size: 2.125rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.main .page-header .text {
    letter-spacing: .05rem;
}

.main .page-header.home {
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 0;
    position: relative;
    background: none;
}

.main .page-header.home::after {
    content: "";
    height: .2rem;
    width: 2.225rem;
    background-color: var(--orange);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.325rem;
    border-radius: 1rem;
}

.main .page-header.home .title {
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.8rem;
}