
.toast {
    display: flex;
    flex-direction: column;
    gap: .825rem;
}

.toast .toast-img {
    width: 40px;
}

.toast .toast-info {
    font-size: .925rem;
    letter-spacing: .05rem;
}

.toast .toast-code {
    font-size: .825rem;
}

.toast .toast-link {
    display: flex;
    align-items: center;
    width: 100%;
}

.toast .toast-link .toast-btn {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .075rem;
    font-size: .725rem;
    padding: .675rem 0;
    line-height: unset;
    height: unset;
}

.toast .toast-link .toast-icon {
    padding-bottom: .2rem;
    stroke-width: 3;
}

/* .Toastify__progress-bar--bg {
    background: var(--toastify-color-progress-light);
    background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55) !important;
} */

div.Toastify__progress-bar-theme--light {
    background: var(--dark-orange);
    /* background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55) !important; */
    /* background: linear-gradient(to right, #b6cfff, var(--dark-blue)); */
}