.main .section {
    padding: 2rem 12rem;

    @media screen and (max-width: 1024px) {
        padding: 2rem 6rem;

        @media screen and (max-width: 792px) {
            padding: 2rem 2rem;
        }
    }


}

.main .section .subtitle {
    font-size: 1.325rem;
    margin: 2rem 0;
}