.rt-TableRootTable {
  .product-name {
    text-transform: uppercase;
    font-size: 0.775rem;
    letter-spacing: 0.0225rem;
    opacity: 0.95;
    font-weight: bold;
  }

  .product-code {
    opacity: 0.65;
    font-size: 0.725rem;
    letter-spacing: 0.0225rem;
  }

  .product-code::before {
    content: "Código: ";
  }

  @media screen and (max-width: 525px) {

    .product-name {
        font-size: .925rem;
    }

    .product-description {
      font-size: 1rem;
      opacity: 0.8725;
      padding-right: 1rem;
    }

    .product-code {
      font-size: .875rem;
    }

    .rt-TableCell {
      padding: 1rem .425rem;
    }

    .rt-TableColumnHeaderCell .table-header-text,
    .maker {
      display: none;
    }

    .rt-SelectTrigger {
      font-size: 1rem;
    }

  }

}
